@media screen and (min-width: 350px) {
    #image{
        width: 4em;
        height: 4em;
        float: left;
        padding-left: 0.5em;
        margin-top: 3px;
        /* padding-top: -0.3em; */
    }

    #furniture{
        margin-left: 4.5em;
        color: rgb(41, 41, 90);
        font-weight: bolder;
        font-size: 1em;
    }
    #may{
        font-size: x-large;
        /* margin-top: -0.2em; */
        color: rgb(41, 41, 90);
        font-weight: 900%;
    }
    #links{
        display: inline;
        margin-left: -13em;
        /* font-size: ; */
        font-weight: 900;
        color: rgb(41, 41, 90);
        word-spacing: 0.002em;
    }
    #text{
        width: 7em;
        height: 3em;
        border: rgb(80, 70, 70);
        border-radius: 1em;
        background-color: rgb(209, 198, 198);
        margin-left: 18em;
        padding-left: 1em;
        margin-top: -15em;
    }
    #display{
        display: inline;
    }
    #top{
        text-align: center;
        line-height: 2px;
    }
    #make{
        font-size: 200%;
        line-height: 1em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #find{
        font-size: 120%;
        line-height: 1em;
        text-align: center;
        /* margin-left: 4em; */
    }
    #source{
        width: 26em;
        height: 18em;
    }
    #div{
        display: inline;
        /* margin-left: -4.5em; */
        font-weight: bolder;
        /* font-size: larger; */
    }
    #all{
        font-weight: bolder;
        font-size: 170%;
        margin-left: 5px;
    }
    .bedroom{
        width: 7em !important;
        height: 4em;
        border: 2px solid rgb(146, 139, 139);
        border-radius: 1em;
        background-color: rgb(216, 204, 204);
        text-align: center;
        /* display: inline; */
        padding-top: 2em;
    }
    .bedroom:hover{
        border: 3px solid purple;
        width: 10em !important;
        height: 5em;
        padding-top: 4em;
        border-radius: 1em;
    }
    #footer{
        width: 40em;
        height: 5em;
        padding-left: 1em;
        padding-top: 1em;
        font-weight: bold;
        background-color: purple;
        color: white;
        font-size: x-small;
    }
    #connect{
        margin-left: 22em;
        margin-top: -4.5em;
    }
    #terms{
        /* text-align: right; */
        margin-left: 22em;
        margin-top: 2em;
    }
    #files{
        margin-left: 15em;
        margin-top: -7.2em;
    }
    #beans{
        margin-left: 15em;
        /* margin-left: 30em; */
        margin-top: -7.2em;
    }
}
@media screen and (min-width:500px) {
    #image{
        width: 4.5em;
        height: 4.5em;
        float: left;
        padding-left: 0.5em;
        /* margin-top: 1em; */
    }
    #furniture{
        color:  rgb(41, 41, 90) ;
        font-weight: bolder;
        font-size: 1.3em;
    }
    #may{
        font-size: xx-large;
    }
    #links{
        margin-left: -5em;
        display: inline;
        /* margin-left: -5em; */
        font-size: large;
        /* font-weight: 900; */
        color: rgb(41, 41, 90);
        word-spacing: 0.1em;
    }
    #text{
        width: 12em;
        height: 3em;
        border: rgb(80, 70, 70);
        border-radius: 1em;
        background-color: rgb(209, 198, 198);
        margin-left: 18em;
        /* padding-left: em; */
        margin-top: -5em;
        display: inline;
    }
    #display{
        display: inline;
    
    }
    #top{
        text-align: center;
        line-height: 2px;
    }
    #make{
        font-size: 210%;
        font-weight: bolder;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #find{
        font-size: 120%;
        line-height: 1em;
        
    }
    #source{
        width: 35em;
        height: 25em;
    }
    #div{
        display: inline;
        font-weight: bolder;
    }
    #all{
        font-weight: bolder;
        font-size: 180%;
        margin-left: 5px;
    }
    .bedroom{
        width: 10em !important;
        height: 5em;
        border: 2px solid rgb(146, 139, 139);
        border-radius: 1em;
        background-color: rgb(216, 204, 204);
        text-align: center;
        /* display: inline; */
        padding-top: 3em;
    }
    .bedroom:hover{
        border: 3px solid purple;
        width: 10em !important;
        height: 5em;
        padding-top: 4em;
        border-radius: 1em;
    }
    #footer{
        width: 40em;
        height: 5em;
        padding-left: 1em;
        padding-top: 1em;
        font-weight: bold;
        background-color: purple;
        color: white;
        font-size: small;
    }
    #connect{
        margin-left: 22em;
        margin-top: -4.5em;
    }
    #terms{
        /* text-align: right; */
        margin-left: 22em;
        margin-top: 2em;
    }
    #files{
        margin-left: 19em;
        margin-top: -9.2em;
    }
    #beans{
        margin-left: 19em;
        /* margin-left: 30em; */
        margin-top: -9.2em;
    }
}   

@media screen and (min-width: 800px){
    #image{
        width: 5.5em;
        height: 5.5em;
        float: left;
        padding-left: 0.5em;
        margin-top: 0.5em;
    }
    #furniture{
        color:  rgb(41, 41, 90);
        font-weight: bolder;
        font-size: 1.45em;
        margin-left:2em ;
    }
    /* #icon{
        width: 10em;
        height: 10em;
        color: dodgerblue;
    } */
    #may{
        font-size: xx-large;
    }
    #div{
        display: inline;
        margin-left: -4.5em;
        font-weight: bolder;
        font-size: larger;
    }
    #links{
        display: inline;
       /* padding: ; */
        font-size: large;
        font-weight: 900;
        color: rgb(41, 41, 90);
        word-spacing: 0.1em;
    } 
    .links:hover{
        border: 3px solid purple;
        border-radius: 1em;
        width: 4.5em;
        height: 2em;
    }
    #text{
        width: 20em;
        height: 3em;
        border: rgb(80, 70, 70);
        border-radius: 1em;
        background-color: rgb(209, 198, 198);
        margin-left: 9em;
        padding-left: 1em;
        /* margin-top: -5em; */
        font-weight: bolder;
        color: black;
        font-size: 100%;
    }
    #display{
        display: inline;
    }
    #top{
        text-align: center;
        line-height: 2px;
    }
    #make{
        font-size: 300%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #find{
        font-size: 148%;
        line-height: 1em;  
    }
    #source{
        width: 50em;
        height: 35em;
    }
    #category{
        width: 44em;
        height: 30em;
        /* border: 2px solid rgb(194, 184, 184);
        border-radius: 1em; */
        padding-left: 2em;
    }
    #hot{
        font-weight: bolder;
        font-size: 250%;
    }
    #para{
        font-size: large;

    }
    .living{
        margin-left: 30em;
        margin-top: -7em;
    }
    .load{
        width: 17em !important;
        height: 10em !important;
        padding-left: 5px;
    }
    #kid{
        display: flex;
        flex-direction: row;
        margin-bottom: 2em;
    }
    #all{
        font-weight: bolder;
        font-size: 270%;
        margin-left: 5px;
    }
    .bedroom{
        width: 10em !important;
        height: 3em;
        border: 2px solid rgb(146, 139, 139);
        border-radius: 1em;
        background-color: rgb(216, 204, 204);
        text-align: center;
        /* margin-left: 2em; */
        /* display: inline; */
        /* padding-top: 3em; */
    }
    .bedroom:hover{
        border: 3px solid purple;
        width: 10em;
        height: 3em;
        padding-top: 3em;
        border-radius: 1em;
    }
    /* #room{
        width: 10em;
        height: 10em;
        display: inline !important;
    }  zzzzz
    #foot{
        display: inline !important;
    } */
    #footer{
        width: 58em;
        height: 5em;
        padding-left: 1em;
        padding-top: 1em;
        font-weight: bold;
        background-color: purple;
        color: white;
        position: absolute;
        /* margin-bottom: -50em; */
    }
    #connect{
        margin-left: 40em;
        margin-top: -4.5em;
    }
    #terms{
        /* text-align: right; */
        margin-left: 10em;
        margin-top: 2.2em;
    }
    #files{
        margin-left: 30em;
        margin-top: -8.99em;
    }
    
}
@media screen and (min-width:1200px) {
    #image{
        width: 5.5em;
        height: 5.5em;
        float: left;
        padding-left: 0.5em;
        margin-top: 0.5em;
    }
    #furniture{
        color:  rgb(41, 41, 90);
        font-weight: bolder;
        font-size: 1.45em;
        margin-left:4em ;
    }
    #may{
        font-size: xx-large;
    }
    #div{
        display: inline;
        margin-left: -4.5em;
        font-weight: bolder;
        font-size: larger;
    }
    #links{
        display: inline;
       /* padding: ; */
        font-size: large;
        font-weight: 900;
        color: rgb(41, 41, 90);
        word-spacing: 0.1em;
    } 
    .links:hover{
        border: 3px solid purple;
        border-radius: 1em;
        width: 4.5em;
        height: 2em;
    }
    #text{
        width: 20em;
        height: 3em;
        border: rgb(80, 70, 70);
        border-radius: 1em;
        background-color: rgb(209, 198, 198);
        margin-left: 35em;
        padding-left: 1em;
        /* margin-top: -5em; */
        font-weight: bolder;
        color: black;
        font-size: 100%;
    }
    #display{
        display: inline;
    }
    #top{
        text-align: center;
        line-height: 2px;
    }
    #make{
        font-size: 300%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #find{
        font-size: 145%;
        line-height: 1em;  
    }
    #source{
        width: 81em;
        height: 55em;
    }
    /* #category{
        width: 49em;
        height: 20em;
        border: 2px solid rgb(194, 184, 184);
        border-radius: 1em;
        background-color: rgb(221, 215, 215);
    } */
    #all{
        font-weight: bolder;
        font-size: 270%;
        margin-left: 5px;
    }
    .bedroom{
        width: 10em !important;
        height: 5em;
        border: 2px solid rgb(146, 139, 139);
        border-radius: 1em;
        background-color: rgb(216, 204, 204);
        text-align: center;
        /* display: inline; */
        padding-top: 3em;
    }
    .bedroom:hover{
        border: 3px solid purple;
        width: 10em;
        height: 5em;
        padding-top: 3em;
        border-radius: 1em;
    }
    /* #room{
        width: 10em;
        height: 10em;
        display: inline !important;
    }  zzzzz
    #foot{
        display: inline !important;
    } */
    #footer{
        width: 100em;
        height: 5em;
        padding-left: 1em;
        padding-top: 1em;
        font-weight: bold;
        background-color: purple;
        color: white;
    }
    #connect{
        margin-left: 80em;
        margin-top: -4.5em;
    }
    #terms{
        /* text-align: right; */
        margin-left: 80em;
        margin-top: 2em;
        padding: none;
    }    
}
